{% extends 'base.html' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Restablecer Contraseña</h4>
                </div>
                <div class="card-body">
                    <p>¿Olvidaste tu contraseña? Ingresa tu dirección de correo electrónico a continuación y te enviaremos instrucciones para establecer una nueva.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">Correo electrónico:</label>
                            <input type="email" name="email" class="form-control" required id="id_email">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Enviar instrucciones</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 